{
  "singleQuote": false,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "semi": true,
  "singleAttributePerLine": true
}